body{
    padding: 0;
    margin: 0;
    background-color: black;
}
*{
    box-sizing: border-box;
}
main, header, nav, article, aside, footer{
    border: 1px solid dimgrey;
}
main{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: 
    "h h h"
    "n n n"
    "a a as"
    "f f f";
    background-color: brown;
    margin: 20px;
}
header{
    grid-area: h;
}
h1{
    font-size: 40px;
}
nav{
    grid-area: n;
    background-color: burlywood;
    margin: 20px;
    display: grid;
}
article{
    grid-area: a;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    margin: 20px;
    padding: 20px;
    grid-gap: 20px;
    background-color: burlywood;
}
aside{
    grid-area: as;
    background-color: burlywood;
    margin: 20px;
}
footer{
    grid-area: f;
    background-color: brown;
}
img{
    width: 100%;
}

.kep{
    text-align: center;
}
nav ul{
    list-style-type: none;
}
nav a{
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    main {
        grid-template-columns: 3fr 1fr;
        grid-template-areas:
            "h h"
            "n n"
            "a as"
            "f f";
        }
    article{
        grid-area: a;
        display: grid;
        grid-template-columns: 2fr 2fr;
        margin: 10px;
        padding: 20px;
        grid-gap: 20px;
    }
}

@media screen and (max-width: 400px) {
    main {
        grid-template-columns: 3fr 1fr;
        grid-template-areas:
            "h"
            "n"
            "a"
            "as"
            "f";
        }
    article{
        grid-area: a;
        display: grid;
        grid-template-columns: 1fr;
        margin: 10px;
        padding: 20px;
        grid-gap: 20px;
    }
}