body{
    padding: 0;
    margin: 0;
    background: rgb(195,34,116);
background: linear-gradient(0deg, rgba(195,34,116,1) 13%, rgba(206,253,45,1) 83%);
}

*{
    box-sizing: border-box;
}

main, header, nav, article, aside, footer{
    border: 1px solid dimgrey;
}

main{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: 
    "h h h"
    "n n n"
    "a a as"
    "f f f";
    margin: 20px;
}

header{
    grid-area: h;
    color: white;
background: rgb(195,34,116);
    background: linear-gradient(0deg, rgba(195,34,116,1) 13%, rgba(206,253,45,1) 83%);
    font-weight: bold;
    text-align: center;
}

h1{
    font-size: 40px;
}

nav{
    grid-area: n;
    background-color: burlywood;
    margin: 10px;
    padding: 20px;
    display: grid;
    border-radius: 10px;
}

article{
    grid-area: a;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    margin: 30px;
    padding: 30px;
    grid-gap: 30px;
    background-color: burlywood;
    border-radius: 10px;
}

aside{
    grid-area: as;
    background-color: burlywood;
    margin: 20px;
    gap: 10px;
    border-radius: 10px;
    padding: 20px;
    text-align: end;

}

footer{
    grid-area: f;
    color: white;
    background: rgb(195,34,116);
    background: linear-gradient(0deg, rgb(206,253,45,1) 13%, rgb(195,34,116,1) 83%);
    font-weight: bold;
    text-align: center;
}

img{
    width: 80%;
    border-radius: 10px;
}

.kep{
    text-align: center;
    height: 600px;
}

.kep img:hover{
    width: 110%;
}

nav ul{
    display: grid;
    list-style-type: none;
    grid-template-columns: 1fr 1fr 1fr 4fr;
    gap: 10px;
}

nav a{
    text-decoration: none;
}

a:visited{
    color: black;
}

a:hover{
    color: chartreuse;
    font-size: 25px;

}

a:link{
    color: black;
}
.kosar{
    text-decoration: underline;
    border-style: outset;
    border-radius: 15px;
    border-width: 2px;
    text-align: center;
    padding: 10px;
    height: 50PX;
}
.kosar:hover{
    font-size: 20px;
    color: chartreuse;
}
.ar{
    border-style: groove;
    padding: 10px;
    border-radius: 15px;
}
.nev{
    border-style: groove;
    font-weight: bold;
    height: 60px;
}
.li{
    text-align: center;
    height: 30px;
}
a{
    padding: 5px;
}
.kepszov{
    height: 300px;
}

@media screen and (max-width: 600px) {
    main {
        grid-template-columns: 3fr 1fr;
        grid-template-areas:
            "h h"
            "n n"
            "a as"
            "f f";
        }
    article{
        grid-area: a;
        display: grid;
        grid-template-columns: 2fr 2fr;
        margin: 10px;
        padding: 20px;
        grid-gap: 20px;
    }
    nav ul{
        display: grid;
        list-style-type: none;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }
    .kep{
        height: 400px;
    }
    .kepszov{
        height: 150px;
    }
    .nev{
        border-style: groove;
        font-weight: bold;
        height: 70px;
    }
    .kosar{
        text-decoration: underline;
        border-style: outset;
        border-radius: 15px;
        border-width: 2px;
        text-align: center;
        padding: 10px;
        height: 50PX;
    }
}

@media screen and (max-width: 400px) {
    main {
        grid-template-columns: 3fr 1fr;
        grid-template-areas:
            "h"
            "n"
            "as"
            "a"
            "f";
        }
    article{
        grid-area: a;
        display: grid;
        grid-template-columns: 1fr;
        margin: 10px;
        padding: 20px;
        grid-gap: 20px;
    }
    nav ul{
        display: grid;
        list-style-type: none;
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .kep{
        text-align: center;
        height: 500px;
    }
    .nev{
        border-style: groove;
        font-weight: bold;
        height: 60px;
    }
    .kepszov{
        height: 200px;
    }
}